<footer class="main-footer">
    <div class="container footer">
      <div class="footer__item">
        <h6>تپسی</h6>
        <a href="#">وبلاگ تپسی</a>
        <a href="#">فرصت شغلی</a>
        <a href="#">تماس با ما</a>
        <a href="#">لوگو و هویت سازمانی</a>
      </div>
      <div class="footer__item">
        <h6>تپسی</h6>
        <a href="#">وبلاگ تپسی</a>
        <a href="#">فرصت شغلی</a>
        <a href="#">تماس با ما</a>
        <a href="#">لوگو و هویت سازمانی</a>
      </div>
      <div class="footer__item">
        <h6>تپسی</h6>
        <a href="#">وبلاگ تپسی</a>
        <a href="#">فرصت شغلی</a>
        <a href="#">تماس با ما</a>
        <a href="#">لوگو و هویت سازمانی</a>
      </div>
      <div class="footer__item">
        <h6>تپسی</h6>
        <a href="#">وبلاگ تپسی</a>
        <a href="#">فرصت شغلی</a>
        <a href="#">تماس با ما</a>
        <a href="#">لوگو و هویت سازمانی</a>
      </div>
      <div class="footer__item">
        <h6>تپسی</h6>
        <a href="#">وبلاگ تپسی</a>
        <a href="#">فرصت شغلی</a>
        <a href="#">تماس با ما</a>
        <a href="#">لوگو و هویت سازمانی</a>
      </div>
        <div class="footer__item enemad">
          <div class="footer__enemad">
            <img src="/assets/image/enemad.png" alt="">
          </div>
        </div>
        <div class="footer__item enemad">
          <div class="footer__enemad">
            <img src="/assets/image/enemad.png" alt="">
          </div>
        </div>
        <div class="footer__item enemad">
          <div class="footer__enemad">
            <img src="/assets/image/enemad.png" alt="">
          </div>
        </div>
      </div>
  </footer>