<section class="container-block">
    <h2 class="block__heading">تعرفه های ویژه مشتریان</h2>
    <div class="block-plan">
    <div class="plan">
        <div class="card card--secondary">
            <header class="card__header">
                <span class="plan__introduction">
                    <span class="plan__neme">اقتصادی</span>
                    <span class="badge badge__secondary">15% OFF</span>
                </span>
                <span class="plan__price">390,000</span>
                <span class="plan__billing-cycle">ماهانه/تومان</span>
                <span class="plan__description">سرویس ماشین کلاسیک</span>
            </header>
            <div class="card-body">
                <ul class="list list--tick">
                    <li class="list__item">آیتم 1</li>
                    <li class="list__item">آیتم 2</li>
                    <li class="list__item">آیتم 3</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="plan">
        <div class="card card--primary">
            <header class="card__header">
                <span class="plan__introduction">
                    <span class="plan__neme">اقتصادی</span>
                    <span class="badge badge__primary">10% OFF</span>
                </span>
                <span class="plan__price">390,000</span>
                <span class="plan__billing-cycle">ماهانه/تومان</span>
                <span class="plan__description">سرویس ماشین کلاسیک</span>
            </header>
            <div class="card-body">
                <ul class="list list--tick">
                    <li class="list__item">آیتم 1</li>
                    <li class="list__item">آیتم 2</li>
                    <li class="list__item">آیتم 3</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="plan">
        <div class="card card--secondary">
            <header class="card__header">
                <span class="plan__introduction">
                    <span class="plan__neme">اقتصادی</span>
                    <span class="badge badge__secondary">10% OFF</span>
                </span>
                <span class="plan__price">390,000</span>
                <span class="plan__billing-cycle">ماهانه/تومان</span>
                <span class="plan__description">سرویس ماشین کلاسیک</span>
            </header>
            <div class="card-body">
                <ul class="list list--tick">
                    <li class="list__item">آیتم 1</li>
                    <li class="list__item">آیتم 2</li>
                    <li class="list__item">آیتم 3</li>
                </ul>
            </div>
        </div>
    </div>
</div>
</section> 